%u-button {
    @apply bg-orange;
    @apply inline-block;
    @apply px-8;
    @apply py-3;
    @apply font-bold;
    @apply text-sm;
    @apply text-white;
    @apply text-center;
    border-radius: 25px;

    @apply flex;
    @apply items-center;
    @apply justify-center;

    svg {
        @include size(12px);
        @apply mr-2;

        * { fill: white; }
    }
}

.u-button {
    @extend %u-button;
}

.u-button--white {
    @extend %u-button;

    background: none;
    border: 2px solid white;
    @apply text-white;
}
