.u-pagination {
    @apply flex;
    @apply justify-between;

    @apply pt-5;

    a {
        @apply text-purple;
        @apply flex;
        @apply items-center;
        @apply text-sm;

        svg {
            @include size(10px);
            * {
                fill: theme('colors.purple');
            }
        }
    }
}
