.accessibility {
    li {
        @apply ml-4;
        a {
            @apply flex;
            @apply items-center;

            span {
                @apply ml-1;
            }

            svg {
                @include size(12px);

                * {
                    fill: white;
                }
            }
        }
    }

    &:not(:last-child) {
        @media only screen and (min-width: 951px) {
            display: none;
        }
    }

    &:last-child {
        @media only screen and (max-width: 950px) {
            display: none;
        }
    }
}
