.back-to-top {
    @apply inline-block;
    @apply fixed;
    @apply bottom-0;
    @apply right-0;
    @apply mb-8;
    @apply mr-8;
    @apply z-10;

    @apply bg-orange;
    @apply flex;
    @apply items-center;
    @apply justify-center;

    border-radius: 50%;
    width: 48px;
    height: 48px;

    svg {
        @include size(16px);

        * { fill: white; }
    }
}
