footer {
    @apply text-xs;

    a {
        @apply text-white;
    }

    ul {
        li {
            @apply text-base;

            a {
                @apply font-semibold;
            }

            a:hover {
                @apply text-orange;
            }
        }
    }
}

.footer__socials {
    @apply flex;
    @apply justify-center;
    @apply mt-5;

    a {
        @apply mr-4;

        svg {
            @include size(20px);

            * { fill: theme('colors.orange'); }
        }
    }
}
