span.glossary-tooltip {
    background: none;
}

span.glossary-link {
    background: none;
    border: none;

    a {
        background: none;
        cursor: help;
        padding: 0;
        @apply text-black;
        @apply underline;
    }
}

.glossary-tooltip-content {
    @apply rounded;
}

span.glossary-tooltip-text {
    @apply text-xs;
}
