.search-form {
    @apply absolute;
    @apply bg-purple;
    @apply py-8;
    @apply w-full;
    @apply z-30;
    @apply text-lg;

    input {
        @apply bg-purple;
        @apply text-lg;
        @apply text-white;

        &:focus {
            outline: none;
        }
    }
}

.search-form-bg {
    @apply hidden;
    @apply fixed;
    @apply bg-gray-900;
    opacity: 0.9;
    @apply left-0;
    @apply right-0;
    @apply bottom-0;
    @apply top-0;
    @apply z-20;
}
