%submenu {
    li {
        a {
            @apply block;
            @apply leading-tight;
            @apply p-4;
            @apply rounded;
            @apply text-sm;
        }

        &:not(:last-child) {
            @apply mb-2;
        }
    }

    ul.children {
        @apply hidden;

        li.current_page_item a {
            @apply bg-gray-400;
        }
    }
}

.submenu-link, .submenu-pages, .submenu-appendix {
    @extend %submenu;
    @apply mb-2;

    ul.children li a {
        @apply bg-gray-200;
        @apply text-gray-900;
    }
}

.submenu-chapters {
    @extend %submenu;

    li a {
        @apply text-white;
    }

    li:nth-child(odd) a {
        @apply bg-orange;
    }

    li:nth-child(even) a {
        @apply bg-purple;
    }

    ul.children {
        @apply mb-0;
        @apply mt-2;

        li {
            @apply mb-0;

            a {
                @apply bg-gray-200;
                @apply text-gray-900;
            }

            &.current_page_item a {
                @apply bg-gray-400;
            }

            &:not(:last-child) {
                @apply mb-2;
            }
        }
    }
}
