a {
    @apply text-orange;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    &.greyscale {
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        filter: gray; /* IE6-9 */
        filter: grayscale(100%);
    }
}

body {
    @apply antialiased;
    @apply font-sans;
    @apply leading-none;
    @apply text-gray-900;
    @apply text-sm;
}

p, ul, ol {
    @apply mb-5;
}

h1, h2, h3, h4 {
    @apply font-normal;
    @apply leading-tight;
    @apply mb-5;
    @apply text-purple;
}

h1 { font-size: 33px; }
h2 { font-size: 27px; }
h3 { font-size: 24px; }
h4 { font-size: 21px; }

@screen md {
    h1 { font-size: 33px; }
    h2 { font-size: 27px; }
    h3 { font-size: 24px; }
    h4 { font-size: 21px; }
}

p, ol, ul {
    @apply leading-relaxed;
}

p + h1, p + h2, p + h3, p + h4,
ul + h1, ul + h2, ul + h3, ul + h4,
ol + h1, ol + h2, ol + h3, ol + h4 {
    @apply mt-8;
}

@media print {
    .hide-print { display:none; }
}

.content-area {
    a {
        @apply font-bold;
    }

    ul, ol {
        margin-left: 40px;
    }

    ul li { list-style: disc; }
    ol li { list-style-type: decimal; }
}

blockquote {
    @apply bg-gray-200;
    @apply px-6;
    @apply py-5;
    @apply pb-1;
    @apply mb-5;
}

@media only screen and (max-width: 767px) {
    .hide-small {
        display: none;
    }
}
